# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# IDE files
.idea/
*.iml

# HA Runtime & lokale User-Configs
bitcoin_pv_mining/config/pv_mining_addon/*.local.yaml
bitcoin_pv_mining/config/pv_mining_addon/runtime.yaml
bitcoin_pv_mining/config/pv_mining_addon/state.json

# Cache & Logs
*.log
